.card {
  background-color: #fff;
  border-radius: 25px;
  width: 300px;
  height: 250px;
  margin: 50px;
  transition: 0.5s;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.x {
  position: relative;
  top: 10px;
  left: 250px;
  text-align: center;
  line-height: 0px;
  padding-bottom: 4px;
  padding-left: 7px; 
  background-color: #77ABB7;
  border: none;
  border-radius: 25px;
  height: 40px;
  width: 40px;
  color: #1D3E53;
  font-family: inherit;
  font-weight: bold;
  font-size: 30px;
  transition: 0.5s;
  
}

.x:hover {
  cursor: pointer;
  background-color: #1D3E53;
  color: #77ABB7;
}

.h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  transition: 0.5s;
}

.link {
  text-decoration: none;
  color: #1D3E53;
}

.h1:hover{

}

.h2 {
  margin: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #1D3E53;
}

.p {
  text-align: center;
  font-size: 25px;
  margin: 0px;
  padding-top: 10px;
  color: #1D3E53;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.subInfo {
  width: 100px;
}

.img {
  display: block;
  margin: auto auto;
  border-radius: 25px;
  background: rgb(231,247,254);
  background: linear-gradient(0deg,  rgba(119,171,183,1) 0%, rgb(209, 227, 234) 100%);
}

.link {
  text-decoration: none;
}