.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1D3E53;
  height: 80px;
}

.div {
  display: flex;
  padding: 0;
  background-color: red;
}

.text {
  color: #fff;
  font-size: 20px;
  padding: 0 50px;
}

.span {
  width: 100px;
}



