.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D9534F;
  height: 50px;
}

.div {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.text {
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}



