.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input {
  height: 35px;
  background-color: #476D7C;
  margin-right: 10px;
  width: 80%;
  border: none;
  border-radius: 70px;
  font-family: inherit;
  font-size: 16px;
  color: #fff;
  text-indent: 15px;
  outline-color: #77ABB7;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.button {
  width: 15%;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}