.main {
  display: inline;
}

.input {
  height: 35px;
  background-color: #476D7C;
  margin-right: 10px;
  width: 30%;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
}

.input::placeholder {
  color: white;
}

.button {
  width: 10%;
  background-color: #99B898;
  color: #2A363B;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-weight: bold;
  font-size: 15px;
  transition: 0.5s;
}

.button:hover {
  background-color: #E84A5F;
  color: #343838;
}